.jumbotron {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(175, 122, 173);
}
#startBtn {
     width: 100px;
     height: 65px;
     font-size: 35px;
 }

 body {
     background-color: rgb(205, 186, 212);
 }
 .panel-heading, .panel-body {
     text-align: center
 }
 img:hover {
    background-color: rgb(255, 236, 66);
 }
  img:active {
      background-color: rgb(64, 253, 196);
  }
 img {
     padding: 5 10 5 10;
 }

 #yourScoreUpdate {
     text-align: left;
 }

 #opponentScoreUpdate {
     text-align: right;
 }

 /*chat box styling*/
 #message-input {
    width: 85%;
}

#name-input, #addName {
    font-size: 18px;
}

#message-input, #addMessage {
    font-size: 18px;
    padding: 5 0 5 0;
}

#addMessage {
    width: 13%;
}

#messages {
    height: 48px;
    margin: 5px;
}
